<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Home Page</title>
</head>
<body>
    <ul style="list-style-type:none;">
        <h1 style="color: cornflowerblue;">CMC Software Database</h1>
        <ul>
            <li><a href="/new">New Product</a></li>
            <li><a href="/viewAll">All Product</a></li>
        </ul>        
    </ul>
</body>
</html>